{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=3306;Database=masplus_cards;User=root;Password=;"
  },
  "AppleWalletConfiguration": {
    "PassTypeIdentifier": "",
    "WWDRCertificateBase64": "",
    "PassbookPassword": "",
    "PassbookCertificateBase64": "",
    "IconUrl": "",
    "LogoUrl": "",
    "BackgroundBase64": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
